<div class="wrapper">
    <div class="container">
        <div class="welcome-text">
            <div class="header-text">Hello, I'm Keanu</div>
            <div class="typewriter-text">
                <div class="static-text">I'm a</div>
                <ul class="dynamic-text">
                    <li><span>Developer</span></li>
                    <li><span>Photographer</span></li>
                    <li><span>Freelancer</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>