.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: calc(100vh - 60px);

  .container {
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
      font-size: 15em;
    }
    .welcome-text {
      z-index: 2;

      .header-text {
        color: black;
        font-size: 4em;
        font-weight: 400;
      }

      .typewriter-text {
        display: inline-flex;
        font-size: 3em;
        font-weight: 500;

        .static-text {
          color: black;
          line-height: 90px;
          height: 90px;
        }
        .dynamic-text {
          margin: 0 15px 0 0;
          line-height: 90px;
          height: 90px;
          overflow: hidden;

          li {
            list-style: none;
            color: red;
            position: relative;
            top: 0;
            animation: slide 6s steps(3) infinite;

            span {
              position: relative;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                border-left: 2px solid black;
                background-color: white;
                animation: typing 2s steps(12) infinite;
              }
            }
          }
        }
      }
    }

    .welcome-image {
      z-index: 1;
      position: absolute;
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
@keyframes slide {
  100% {
    top: -270px;
  }
}
