@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Space Mono', monospace;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
